.THIS.lightningcarouselclass {
    margin-left: 17.5vw; 
    width: 65vw;
    height: auto;
}
.THIS.buttonholder {
    margin-left:42vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
.THIS.volunteerformholder {
    width: 85vw;
    margin-left: 7.5vw;
}